<div>
  <h1>Grafos</h1>
  <div class="row m-3">
    <!-- CANVAS -->

    <!-- FORM -->
    <div class="col">
      <!-- CREAR NODO -->
      <center class="col m-2">
        <div class="d-">
          <button class="btn btn-primary my-4" id="btnNuevoNodo">
            <strong>Crear nodo</strong>
          </button>
          <button class="btn btn-primary" id="btnReiniciar">
            <strong> Borrar todo </strong>
          </button>
          <button class="btn btn-primary" id="btnDescargar">
            <strong> Descargar</strong>
          </button>
          <button class="btn btn-primary" id="btnGuardar">
            <strong> Guardar</strong>
          </button>
          <button class="btn btn-primary" id="btnCargar">
            <strong> Cargar</strong>
          </button>
          <button class="btn btn-primary" id="btnGenerarMatriz">
            <strong> Generar Matriz </strong>
          </button>
        </div>
      </center>
      <!-- GENERAR MATRIZ -->
      <div class="col m-2">
        <div class="d-grid gap-2">
          <table class="table table-dark" id="finalTable"></table>
        </div>
      </div>
    </div>
  </div>
</div>
